@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);

body {
    background: url(../img/old_map.png) repeat;
    font-family: 'IM Fell English SC', serif;
    font-size: 12px;
}

#wrapper {
    position: relative;
}

#map {
    position: relative;
}

.marker {
    border-radius: 100px;
    background-color: #000;
    position: absolute;
    width: 10px;
    height: 10px;
    overflow: hidden;
}

.marker:hover {
    background-color: #f00;
    z-index: 100;
}
